@import '../../shared/scss/vars';
@import '../../shared/scss/mixins';

:local(.carouselSlides) {
  position: relative;

  img {
    width: 100%;
    box-shadow: 0 0 20px -10px $color-black;
  }

  figcaption {
    margin-top: 10px;
  }
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  transition: opacity .3s ease-out;

  &.slide1 {
    position: relative;
  }

  &.active {
    opacity: 1;
    transition: opacity .3s ease-out;
  }
}

:local(.carouselControls) {
  position: absolute;
  top: 50%;
  width: 100%;

  .carousel-controls__left,
  .carousel-controls__right {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -75px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: $color-white;
    box-shadow: 0 0 30px -5px $color-black;
    opacity: .7;
    cursor: pointer;
    transition: opacity .3s ease-out;

    @include tablet {
      margin-top: -25px;
    }

    &:hover {
      opacity: 1;
      transition: opacity .3s ease-out;
    }
  }

  .carousel-controls__left {
    left: -20px;

    &.hidden {
      display: none;
    }
  }

  .carousel-controls__right {
    right: -20px;

    &.hidden {
      display: none;
    }
  }

  svg {
    margin: 0 auto;
  }
}

:local(.shown) {
  display: block;
}

:local(.hidden) {
  display: none;
}