html, body, header, main, footer, div, section, h1, h2, h3, h4, h5, h6, p, ul, li, blockquote {
  margin: 0;
  padding: 0;
  color: rgba($color-black, .8);
}

body {
  // @include font-antialiased;
  @include font-base;

  @include tablet {
    font-size: 17px;
  }

  &.scroll-locked {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  font-weight: 400;
  font-family: $font-headings;
}

p {
  margin-bottom: 10px;
}

b, strong {
  font-weight: 400;
}

.site-width {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  @include desktop {
    padding: 0;
    max-width: 1000px;
  }
}

.section .section-component {
  display: block;
  padding: 50px 0;
}

.section h2 {
  color: #2ab6d4;
  font-size: 32px;
}

a {
  color: $color-link;

  &:visited {
    color: $color-link-visited;
  }

  &:hover {
    color: $color-link-hover;
  }

  &:active {
    color: $color-link-active;
  }

  &[target="_blank"] {
    padding-right: 16px;
    background: url(/assets/icon-open-new-window.svg) no-repeat 100% 2px/12px 12px;
  }
}

.mobile-hide {
  display: none;

  @include tablet {
    display: inline;
  }
}
